.carousel-wrapper{
    width: 90%;
    height: 35rem;
    margin: auto;
    & h2{
        font-size: 1.5rem;
        color: var(--color-black-one);
        margin: 0px;
        padding: 0px;
        margin-bottom: 1rem;
        text-align: center;
    }
    & .carousel{

    }
    & .carousel-slider{
        height: 30rem;
    }
    @media screen and (max-width: 900px) {
        & .carousel-slider{
            height: 25rem;
        }
        height: 30rem;
        & .carousel .slide img{
            width: auto;
        }
        & .carousel .slide img{
            width: auto;
        }
    }
}